extends layout

block additional-styling
    link(rel='stylesheet' href='/stylesheets/feed.css')

block content
  input(type='hidden' id='selected' value=selected)
  div.filter-area
    button.filter(data-toggle="collapse" data-target="#tabs")='Filter by tags'
    form.collapse#tabs(method='post' action='')
      ul.tabs
        li.tab
          input.link(type='submit' value='All' id='All' name='interest')
        each interest in interests
          li.tab
            input.link(type='submit' value=interest id=interest name='interest')
  div.projects
    each project in projects
      div.card.project
        div.card-body.row
          div.left
            a(href="/")
              img.pic(src=project.filename)
              div.name.card-text=project.name
          div.right
            h4=project.title
            div.description.card-text=project.description
        div
          each tag in project.tags
            span.tags=tag
        small.date=project.date
  

block additional-libraries
  script(src='/javascripts/set-active.js')