extends layout

block additional-styling
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput-typeahead.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css')
    link(rel='stylesheet' href='/stylesheets/create-account.css')
    link(rel='stylesheet' href='/stylesheets/view-account.css')

block content
    div.card.container: div.card-body
        h3 #{username}'s Profile
        
        form(method='post' action='' enctype='multipart/form-data')
            div.form-row
                div.col-sm-4#image-container
                    img.pic(src=path)

                div.col-sm-8#text-container 
                    div.form-group
                        label(for='email') Email: #{email} 
                        br
                        label(for='number') Phone Number: #{phonenumber}
                            
                        br
                        label(for='tags') Interests:
                            each tag in interests
                                span.tags=tag
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        br
                        
            
                        
                    
                

        



block additional-libraries
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js')
    script(src='/javascripts/add-entry.js')