extends layout

block additional-styling
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  link(rel='stylesheet' href='/stylesheets/view-account.css')

block content
  div.container
    div.card.profile
      div.card-body
        div.card-title
          h3 #{username}'s Profile
        div.row
          div.left
            img.img(src=path)
          div.right
            div Email: #{email}
            div Phone Number: #{phonenumber}
          div.card-footer
            div.interests
              each tag in interests
                span.tags=tag
    div.projects
      each project in projects
        div.card.project
          div.card-body.row
            div.left
              a(href=project.profile)
                img.pic(src=project.filename)
                div.name.card-text=project.name
            div.right
              h4=project.title
              div.card-text=project.description
          div.card-footer.footer
            div.footer-left
              each tag in project.tags
                span.tags=tag
            div.footer-right.date=project.date
            if own
              form(action=`/edit/${project.title}` method="get")
                button.edit(type="submit")
                  i.fa.fa-edit
                            
block additional-libraries
